{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for assignment in assignment %}
            <div class="mx-auto">
                <div class="card my-3">
                    <div class="card-header">
                        <h5>{{assignment.name}}</h5>
                    </div>
                    <div class="card-body">
                        <p><strong>Link:</strong> {{assignment.link}}</p>
                        <p><strong>Submitted at:</strong> {{assignment.submitted_at}}</p>
                        <p><strong>Course:</strong> {{assignment.course.course_name}}</p>
                        <div class="row">
                            <a class="btn btn-primary mx-2" href="..{{assignment.assignment.url}}" download="{{assignment.name}}">Download</a>
                            <a class="btn btn-primary" href="{% url 'pdf_view' assignment.id %}">View as PDF</a>
                        </div>
                    </div>
                </div>
            </div>  
        {% endfor %}           
    </div>
</div>
{% endblock %}