{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>ELP</title>
        {% block style %}
            {% bootstrap_css %}
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Exo+2|Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        {% include 'navbar.html' %}

        {% block content %}

        {% endblock %}

        {% block script %}
            {% bootstrap_javascript %}
            <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
        {% endblock %}
    </body>
</html>