{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <h1 class="text-center my-1">Assignments</h1>

    <div class="row text-center col-sm-12 col-md-4">
        <form action="{% url 'search_assignment' %}" class="form-inline my-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Assignments" aria-label="Search" name="assignments">
            <button class="btn btn-primary">Search</button>
        </form>
    </div>
    
    <div class="row robo-font">
        {% for assignment in assignments %}
            
                <div class="col-sm-12 col-md-3">
                    <div class="card my-3">
                        <div class="card-header">
                            <h5>{{assignment.name}}</h5>
                        </div>
                        <div class="card-body">
                            <p><strong>Link:</strong> {{assignment.link}}</p>
                            <p><strong>Submitted at:</strong> {{assignment.submitted_at}}</p>
                            <p><strong>Course:</strong> {{assignment.course.course_name}}</p>
                            <div class="row">
                                <a class="btn btn-primary mx-2" href="..{{assignment.assignment.url}}" download="{{assignment.name}}">Download</a>
                                <a class="btn btn-primary" href="{% url 'pdf_view' assignment.id %}">View as PDF</a>
                            </div>
                        </div>
                    </div>
                </div>                                     
            
        {% endfor %}
    </div>
</div>
{% endblock %}