{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to ELP</title>
        {% block styles %}
            {% bootstrap_css %}
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Exo+2|Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">

            
        </div>
        {% block scripts %}
            {% bootstrap_javascript %}
        {% endblock %}
    </body>
</html>