{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div class="row">
        {% for profile in profiles %}
            {% if user.id == profile.user.id %}
                {% for assignment in assignments %}
                    
                        <div class="card my-3">
                            <div class="card-header">
                               <h5>{{assignment.name}}</h5>
                            </div>
                            <div class="card-body">
                                <p>Link: {{assignment.link}}</p>
                                <p>Submitted at: {{assignment.submitted_at}}</p>
                                <a class="btn btn-primary" href="..{{assignment.assignment.url}}" download="{{assignment.name}}">Download</a>
                            </div>
                        </div>
                                     
                {% endfor %}
            {% endif %}
            
        {% endfor %}
    </div>
</div>
{% endblock %}