{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to ELP</title>
        {% block styles %}
            {% bootstrap_css %}
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Exo+2|Roboto&display=swap" rel="stylesheet">
    </head>
    <body class="body-bg">
        <div class="container">

            <section>
                <nav class="navbar nav my-3">
                    <ul>
                        <li class='exo-font'><h3>ELP</h3></li>
                    </ul>
                </nav>
            </section>

            <section class="text-center intro-body robo-font">
                <h1>Welcome to the E-Learning Platform</h1>

                <h3 class='container'>Student and Instructor Interaction made simple</h3>

                <a class='btn btn-success mx-auto' href="{% url 'login' %}">Login</a>
                <small>Not registered? <a href="#">Register Here</a></small>
            </section>
            
        </div>
        {% block scripts %}
            {% bootstrap_javascript %}
        {% endblock %}
    </body>
</html>