{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to ELP</title>
        {% block styles %}
            {% bootstrap_css %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <section>
                <nav class="navbar nav">
                    <ul>
                        <li>ELP</li>
                    </ul>
                </nav>
            </section>
            <h1>Welcome to the E-Learning Platform</h1>
        </div>
        
    </body>
</html>