<nav class="navbar bg-dark">
    <div class="container">
        <a class="navbar-brand exo-font" href="{% url 'index' %}" style="color: white;">ELP <span class="sr-only">(current)</span></a>
        {% if user.is_authenticated %}
            {% for profile in profiles %}
                {% if profile.id == user.id %}
                
                <ul class="navbar-nav ml-auto">
                    <div class="nav-item dropdown mx-0 px4">
                        <a href="{% url 'submit_assignment' %}" style="color: white;">Submit Assignment</a>
                        <img src="{{profile.profile_pic.url}}" alt="profile pic" style="border-radius: 50%; width 25px; height:25px;">
                        <a href="{% url 'profile' profile.id %}"  style="color: white;">My Profile</a>
                    </div> 
                </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</nav>