<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">ELP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
            <!-- Dropdown section goes here -->
            {% if user.is_authenticated %}
            <div class="nav-item dropdown mx-0 px-4 ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="my-0" src="{{user.profile.profile_pic.url}}" alt="profile pic" style="border-radius: 50%; width 30px; height:30px;">
                </a>
                <div class="dropdown-menu mx-0" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'profile' user.profile.id %}">My Profile</a>
                    <a class="dropdown-item" href="{% url 'submit_assignment' %}">Submit Assignment</a>
                    <a class="dropdown-item" href="{% url 'courses' %}">Add Course</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </div> 
    
            {% else %}
            <div>
                <a href="{% url 'login' %}" style="color: white;">Login</a>
            </div>
            {% endif %}
            <!-- End of dropdown -->
    
        </div>
    </div>
</nav>