{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if assignments %}
        {% for assignment in assignments %}
            <div class="row">
                <h3 class="mx-auto my-3"><a href="{% url 'assignment' assignment.id %}">{{assignment.name}}</a></h3>
            </div>
        {% endfor %}
    {% else %}
        {% for message in message %}
            <div class="row">
                <h3 class="mx-auto my-3">{{message}}</h3>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}